In [2]:
import pandas as pd

In [31]:
# dicionario = pd.read_csv("./source_tables/dicionario.csv")
# municipio = pd.read_csv("./source_tables/municipio.csv")
# municipio_causa_idade = pd.read_csv("./source_tables/municipio_causa_idade.csv")
# # microdados = pd.read_csv("./source_tables/")
# municipio_causa = pd.read_csv("./source_tables/municipio_causa.csv")
municipio_causa_idade_sexo_raca = pd.read_csv("./source_tables/municipio_causa_idade_sexo_raca.csv")

# Create tables from data above

---

## Dicionario

SQL:

```sql
create table dicionario (
    id_tabela varchar(31),
    coluna varchar(30),
    chave varchar(3),
    cobertura_temporal varchar(11),
    valor varchar(70)
);
```

In [8]:
dicionario.dtypes

id_tabela             object
coluna                object
chave                 object
cobertura_temporal    object
valor                 object
dtype: object

In [9]:
dicionario.head()

    id_tabela        coluna chave cobertura_temporal        valor
0  microdados    tipo_obito     1        1996(1)2019        Fetal
1  microdados    tipo_obito     2        1996(1)2019    Não-fetal
2  microdados  naturalidade     1        1996(1)2019     ABU DABI
3  microdados  naturalidade     2        1996(1)2019       ACORES
4  microdados  naturalidade     3        1996(1)2019  AFEGANISTAO

In [28]:
dicionario["valor"].unique()

array(['Fetal', 'Não-fetal', 'ABU DABI', 'ACORES', 'AFEGANISTAO',
       'AFRICA DO SUL', 'AIMAN', 'ALBANIA', 'ALEMANHA', 'ANDORRA',
       'ANGOLA', 'ANTILHAS HOLANDESAS', 'ANGUILLA', 'ANTIGUA',
       'ARABIA SAUDITA', 'ARGELIA', 'ARGENTINA', 'ARMENIA', 'ARUBA',
       'AUSTRALIA', 'AUSTRIA', 'AZERBAIDJAO', 'BAHAMAS', 'BAHREIN, ILHA',
       'BALEARES, ILHAS', 'BANGLADESH', 'BARBADOS', 'BELGICA', 'BELIZE',
       'BENIN', 'BERMUDAS', 'BIELORRUSSIA', 'BIRMANIA', 'BOLIVIA',
       'BONAIRE', 'BOTSWANA', 'BRUNEI', 'BULGARIA', 'BURUNDI',
       'BURKINA FASSO(ALTO VOLTA)', 'BUTAO', 'CABO VERDE', 'CAICOS, ILHA',
       'CAMEROON', 'CAMBOJA', 'LAOS', 'CANADA', 'CANARIAS',
       'CAROLINAS, ILHAS', 'CASAQUISTAO', 'CAYMAN, ILHAS',
       'CEUTA E MELILLA', 'CHADE', 'CHILE', 'CHINA', 'CHIPRE',
       'CHRISTMAS, ILHA', 'CINGAPURA', 'COCOS, ILHAS', 'COLOMBIA',
       'COMORES, ILHAS', 'CONGO', 'COOK, ILHAS', 'COREIA DO NORTE',
       'COREIA DO SUL', 'COSTA DO MARFIM', 'COSTA RICA', 'CUBA',
       'CURACAO', 'DINAMARCA', 'DJIBUTI', 'DOMINICA', 'DUBAI', 'EGITO',
       'EIRE', 'IRLANDA', 'EL SALVADOR', 'EQUADOR', 'ESCOCIA', 'ESPANHA',
       'ESTADOS UNIDOS', 'ESTONIA', 'ETIOPIA', 'FALKLAND, ILHAS',
       'MALVINAS, ILHAS', 'FAROE, ILHAS', 'FIJI', 'FILIPINAS',
       'FINLANDIA', 'FORMOSA', 'FRANCA', 'FUJAIRA', 'FUTUNA, ILHAS',
       'GABAO', 'GALAPAGOS, ILHAS', 'GALES, (PAIS DE)', 'GAMBIA', 'GANA',
       'GEORGIA', 'GIBRALTAR', 'GRA-BRETANHA', 'GRANADA', 'GRECIA',
       'GROENLANDIA', 'GUADALUPE', 'GUAM', 'GUATEMALA', 'GUIANA FRANCESA',
       'GUYANA', 'GUINE', 'GUINE-BISSAU', 'GUINE-EQUATORIAL', 'HAITI',
       'HOLANDA', 'HONDURAS', 'HONDURAS BRITANICAS', 'HONG KONG',
       'HUNGRIA', 'IEMEN', 'IEMEN DO SUL', 'INDIA', 'INDONESIA',
       'INGLATERRA', 'IRA', 'IRAQUE', 'IRLANDA DO NORTE', 'ISLANDIA',
       'ISRAEL', 'ITALIA', 'JAMAICA', 'JAPAO', 'JOHNSTON, ILHA',
       'JORDANIA', 'JUAN FERNANDES, ILHAS', 'KIRIBATI', 'KUWEIT',
       'LESOTO', 'LETONIA', 'LIBANO', 'LIBERIA', 'LIBIA', 'LIECHTENSTEIN',
       'LITUANIA', 'LUXEMBURGO', 'MACAU', 'MADAGASCAR', 'MADEIRA',
       'MALAISIA', 'MALAWI', 'MALDIVAS', 'MALI', 'MALTA', 'MAN, ILHA DE',
       'MARIANAS, ILHAS', 'MARQUESAS, ILHAS', 'MARROCOS',
       'MARSHAL, ILHAS', 'MARTINICA', 'MAYOTTE', 'MAURICIUS',
       'MAURITANIA', 'MELILLA', 'MEXICO', 'MIDWAY, ILHAS', 'MOCAMBIQUE',
       'MOLDAVIA', 'MONACO', 'MONGOLIA', 'MONTSERRAT', 'NAMIBIA',
       'NASSAU', 'NAURU', 'NEPAL', 'NEVIS', 'NICARAGUA', 'NIGER',
       'NIGERIA', 'NORFOLK, ILHA', 'NORUEGA', 'NOVA CALEDONIA',
       'NOVA GUINE', 'NOVA ZELANDIA', 'NOVE, ILHAS', 'OMA', 'PANAMA',
       'PAPUA NOVA GUINE', 'PAQUISTAO', 'PARAGUAI', 'PASCOA, ILHA',
       'PERU', 'POLINESIA FRANCESA', 'POLONIA', 'PORTO RICO', 'PORTUGAL',
       'PITCAIRN, ILHA', 'QATAR', 'QUENIA', 'QUIRGUIZIA', 'REINO UNIDO',
       'REPUBLICA CENTRO-AFRICANA', 'REPUBLICA DOMINICANA', 'REUNIAO',
       'ROMENIA', 'RUANDA', 'RUSSIA', 'SAARA OCIDENTAL', 'SABA, ILHA',
       'SAO CRISTOVAO E NEVIS', 'SAINT MAARTEN, ILHAS',
       'SAINT PIERRE E MIQUELON,I', 'SALOMAO, ILHAS',
       'SAMOA AMERICANA, ILHAS', 'SAMOA ISISIFO (OCIDENTAL)',
       'SAN MARINO', 'SANTA LUCIA, ILHA', 'SANTO EUSTAQUIO, ILHA',
       'SAO TOME E PRINCIPE', 'SAO VICENTE E GRANADINAS', 'SENEGAL',
       'SERRA LEOA', 'SEYCHELLES', 'SIRIA', 'SOCIEDADE, ILHAS', 'SOMALIA',
       'SRI LANKA', 'SUAZILANDIA', 'SUDAO', 'SUECIA', 'SUISSA',
       'SURINAME', 'TADJIQUISTAO', 'TAILANDIA', 'TANZANIA', 'TASMANIA',
       'TCHAD', 'TCHECO E ESLOVAQUIA', 'TIMOR', 'TOGO', 'TOKELAU',
       'TONGA', 'TUVALU', 'TRINIDAD AND TOBAGO', 'TUAMOTU', 'TUBUAI',
       'TUNISIA', 'TURCOMENISTAO', 'TURKS, ILHA', 'TURQUIA', 'UCRANIA',
       'UGANDA', 'UNIAO DOS EMIRADOS ARABES', 'UNIAO SOVIETICA',
       'URUGUAI', 'UZBEQUISTAO', 'VANUATU', 'VATICANO', 'VENEZUELA',
       'VIETNA', 'VIRGENS NORTE-AMERICANAS', 'VIRGENS BRITANICAS,ILHAS',
       'WALLIS, ILHA', 'YUGOSLAVIA', 'ZAIRE', 'ZAMBIA', 'ZIMBABUE',
       'ZONA DO CANAL DO PANAMA', 'BRASIL', 'RONDONIA', 'ACRE',
       'AMAZONAS', 'RORAIMA', 'PARA', 'AMAPA', 'TOCANTINS', 'MARANHAO',
       'PIAUI', 'CEARA', 'RIO GRANDE DO NORTE', 'PARAIBA', 'PERNAMBUCO',
       'ALAGOAS', 'SERGIPE', 'BAHIA', 'MINAS GERAIS', 'ESPIRITO SANTO',
       'RIO DE JANEIRO', 'SAO PAULO', 'SANTA CATARINA',
       'RIO GRANDE DO SUL', 'MATO GROSSO DO SUL', 'MATO GROSSO', 'GOIAS',
       'PARANA', 'DISTRITO FEDERAL', nan, 'Masculino', 'Feminino',
       'Branca', 'Preta', 'Amarela', 'Parda', 'Indígena', 'Solteiro(a)',
       'Casado(a)', 'Viúvo(a)', 'Separado(a)', 'União consensual',
       'Nenhuma', '1 a 3 anos', '4 a 7 anos', '8 a 11 anos',
       '12 anos ou mais', '9 a 11 anos', 'Sem escolaridade',
       'Fundamental I', 'Fundamental II', 'Médio', 'Superior incompleto',
       'Superior completo', 'Fundamental I incompleto',
       'Fundamental I completo', 'Fundamental II incompleto',
       'Fundamental II completo', 'Ensino médio incompleto',
       'Ensino médio completo', 'Ensino superior incompleto',
       'Ensino superior completo',
       'Fundamental I incompleto ou inespecifico',
       'Fundamental II incompleto ou inespecifico',
       'Ensino médio incompleto ou inespecifico', 'Única', 'Dupla',
       'Tripla ou mais', 'Menos de 22 semanas', '22 a 27 semanas',
       '28 a 31 semanas', '32 a 36 semanas', '37 a 41 semanas',
       '42 semanas ou mais', '28 semanas ou mais', '28 a 36 semanas',
       '21 a 27 semanas', 'Vaginal', 'Cesáreo', 'Antes', 'Durante',
       'Depois', 'Sim', 'Não', '0 a 42 dias', '43 dias a 1 ano',
       'Acidente', 'Suicídio', 'Homicídio', 'Outro',
       'Boletim de ocorrência', 'Hospital', 'Família', 'Substituto',
       'IML', 'SVO', 'Comitê de mortalidade materna e/ou infantil',
       'Visita familiar / entrevista família',
       'Estabelecimento de saúde / prontuário',
       'Relacionamento com outros bancos de dados', 'Outra fonte',
       'Múltiplas fontes', 'Durante a gestação', 'Durante o abortamento',
       'Após abortamento', 'No parto ou até 1 hora após o parto',
       'No puerpério (até 42 dias do término da gestação)',
       'Entre o 43º dia e até um ano após o término da gestação',
       'Investigação nao identificou o momento do óbito',
       'Mais de 1 ano após o parto', 'Outras', 'Na gravidez', 'No parto',
       'No aborto', 'Até 42 dias após o parto',
       'De 43 dias até 1 ano após o parto', 'Não ocorreu nestes períodos',
       'Não acrescentou nem corrigiu informação',
       'Sim, permitiu o resgate de novas informações',
       'Sim, permitiu a correção de alguma das causas informadas originalmente',
       'Estadual', 'Regional', 'Municipal',
       'Outro estabelecimento de saúde', 'Domicílio', 'Via pública',
       'Outros'], dtype=object)

In [29]:
size = []
for i in dicionario["valor"].unique():
    if isinstance(i, str):
        size.append(len(i))

print(max(size))

70

In [30]:
del(dicionario)

---

## Municipio Causa Idade Sexo Raca

SQL:

```sql
create table municipio_causa_idade_sexo_raca (
    id_tabela varchar(31),
    coluna varchar(30),
    chave varchar(3),
    cobertura_temporal varchar(11),
    valor varchar(70)
);
```

In [33]:
municipio_causa_idade_sexo_raca.dtypes

ano                int64
sigla_uf          object
id_municipio       int64
causa_basica      object
idade            float64
sexo             float64
raca_cor         float64
numero_obitos      int64
dtype: object

In [32]:
municipio_causa_idade_sexo_raca.head()

,ano,sigla_uf,id_municipio,causa_basica,idade,sexo,raca_cor,numero_obitos
0,1996,AC,1200000,R99,NaN,1.0,NaN,1
1,1996,AC,1200000,V892,25.0,1.0,NaN,1
2,1996,AC,1200000,X959,NaN,1.0,3.0,1
3,1996,AC,1200000,X959,NaN,1.0,NaN,1
4,1996,AC,1200013,A419,71.0,2.0,NaN,1
...,...,...,...,...,...,...,...,...
22618599,2019,TO,1722107,W698,33.0,2.0,4.0,1
22618600,2019,TO,1722107,X950,25.0,1.0,4.0,1
22618601,2019,TO,1722107,X950,29.0,1.0,1.0,1
22618602,2019,TO,1722107,X999,34.0,1.0,4.0,1
22618603,2019,TO,1722107,Y340,29.0,2.0,4.0,1

In [ ]:
municipio_causa_idade_sexo_raca["valor"].unique()

In [36]:
size = {}
size_total = []
for column in municipio_causa_idade_sexo_raca.columns:
    for i in municipio_causa_idade_sexo_raca[column].unique():
        if isinstance(i, str):
            size_total.append(len(i))
        else:
            size_total.append(0)
    size[column] = max(size_total)
    size_total = []

print(size)

{'ano': 0, 'sigla_uf': 2, 'id_municipio': 0, 'causa_basica': 4, 'idade': 0, 'sexo': 0, 'raca_cor': 0, 'numero_obitos': 0}